{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Data Monitor</title>
    <link href="{% static 'monitor/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'monitor/css/dashboard.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'monitor/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'monitor/css/bootstrap-vue.css' %}" />
    <script src="{% static 'monitor/js/echarts.min.js' %}"></script>
    <script src="{% static 'monitor/js/vue.js' %}"></script>
    <script src="{% static 'monitor/js/axios.min.js' %}"></script>
    <script src="{% static 'monitor/js/polyfill.min.js' %}"></script>
    <script src="{% static 'monitor/js/bootstrap-vue.js' %}"></script>
    <script src="{% static 'monitor/js/papaparse.min.js' %}"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-12 col-md-12 mr-0" href="#">Data Monitor</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
          <div id='app'>
            <b-form class="my-3 mx-3">
              <label class="mr-sm-2">选择变换函数</label>
              <b-form-select class="my-2 mx-sm-2" v-model="selected" :options="options" @change="changePlotType" />
            </b-form>
            <b-table 
              class="my-3 mx-3" 
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :items="items" 
              :fields="fields">
              <template slot="plot" slot-scope="row">
                <b-form-checkbox @click.native.stop @change="changePlotData(row.item)">
                </b-form-checkbox>
              </template>
            </b-table>
          </div>
          <div id='chart' style="width: 100%;height:400px;"></div>
        </main>
      </div>
    </div>

    <script src="{% static 'monitor/js/jquery-slim.min.js' %}"></script>
    <script src="{% static 'monitor/js/bootstrap.min.js' %}"></script>
    <script>
      function bestCopyEver(src) {
        return Object.assign({}, src);
      }
      var _data = null
      var myChart = echarts.init(document.getElementById('chart'));
      var series = []
      var option = {
        title: {
          text: ''
        },
        legend: {
          data: [],
          selectedMode: "multiple",
          show: true,
          left: "center",
          top: "top",
          orient: "horizontal",
          textStyle: {
            "fontSize": 12
          }
        },
        tooltip: {},
        xAxis: {
          type: 'value',
        },
        yAxis: {
          type: 'value'
        },
        series: series
      };
      myChart.setOption(option);

      var vm = new Vue({
        delimiters: ['||', '||'],
        el: '#app',
        data: {
          sortBy: 'update_time',
          sortDesc: true,
          items: [],
          fields: [
            { key: 'filename', label: '文件名', sortable: true},
            { key: 'update_time', label: '更新时间', sortable: true},
            { key: 'latest_value', label: '最新数值' },
            { key: 'plot', label: '是否画图' },
          ],
          selected: 'identity',
          options: [
            { value: 'identity', text: '恒等变换' },
            { value: 'log', text: '对数变换' },
            { value: 'custom', text: '自定义' },
          ],
        },
        methods: {
          changePlotData: function(item) {
            if(item._plot == 'undefined') {
              item._plot = true
            }
            else {
              item._plot = !item._plot
            }
            this.updatePlot()
          },
          changePlotType: function() {
            // this.updatePlot()  can not fix this bug now!
          },
          updatePlot: async function() {
            option.legend.data = []
            series.length = 0
            for(i = 0; i < this.items.length; i++) {
              if(this.items[i]._plot == true) {
                item = this.items[i];
                rv = await axios.get('http://' + "{{ HOST }}" + "/monitor/data/" + item.filename + "?transform=" + this.selected)
                series.push({
                  name: item.filename,
                  type: 'line',
                  data: rv.data
                })
                option.legend.data.push(item.filename)
              }
            }
            myChart.setOption(option, notMerge=true)
          },
          init: function() {
            this.loadData();
          },
          loadData: async function() {
            rv = await axios.get('http://' + "{{ HOST }}" + '/monitor/data_summary')
            this.items = rv.data
          }
        },
        mounted() {
          this.init();
        },
      })
    </script>
  </body>
</html>
